<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit You Chat</title>
</head>
<body>
    <h1>Edit Your Chat: <%= chat._id %></h1>
    <p>This chat was sent from <%= chat.from %> to <%= chat.to %></p>

    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="message" cols="50" rows="6"><%= chat.message %></textarea>
        <button>Save</button>
    </form>
</body>
</html>